@model ClientModel
@{
    ViewData["Title"] = "Vizualizar Cliente";
}

<div class=" text-center">

    <h1 class="display-4">Vizualizar Cliente</h1>

</div>
<br />
<form asp-controller="Client" asp-action="ViewMore" method="get">
    <fieldset>
        <legend class="text-center">Dados do cliente</legend>
        <div class="form-row">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input asp-for="Name" type="text" class="form-control" id="Nome" readonly>
                    
                </div>
                <div class="form-group col-md-6">
                    <label for="dataNascimento">Data de nascimento</label>
                    <input asp-for="Date" type="date" class="form-control" id="dataNascimento" readonly>
                   
                </div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rg">RG</label>
                    <input asp-for="Rg" type="text" class="form-control" id="rg"  readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="cpf">CPF</label>
                    <input asp-for="Cpf" type="text" class="form-control" id="cpf" readonly>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend class="text-center">Telefones</legend>
        <div class="form-row">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="numero1">Telefone comercial</label>
                    <input asp-for="Phone.ComercialPhone" type="tel" class="form-control" id="numero1" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="numero2">Telefone residencial</label>
                    <input asp-for="Phone.ResidencialPhone" type="tel" class="form-control" id="numero2"  readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="numero1">Telefone (outro)</label>
                    <input asp-for="Phone.OtherPhone" type="tel" class="form-control" id="numero1" readonly
                    >
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend class="text-center">Endereços</legend>
        <div class="form-group">
            <label for="inputAddress">Endereço</label>
            <input asp-for="Adress.PrincipalAdress" type="text" class="form-control" id="inputAddress" readonly>
            <br />

            <label for="inputAddress2">Outro endereço (opcional)</label>
            <input asp-for="Adress.OtherAdress" type="text" class="form-control" id="inputAddress2" readonly>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend class="text-center">Redes Sociais</legend>
        <div class="form-row">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="numero1">Facebook</label>
                    <input asp-for="SocialMidia.FacebookUrl" type="text" class="form-control" id="numero1" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label for="numero2">Linkedin</label>
                    <input asp-for="SocialMidia.LinkedinUrl" type=" text" class="form-control" id="numero2" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label for="numero1">Twitter</label>
                    <input asp-for="SocialMidia.TwitterUrl" type=" text" class="form-control" id="numero1" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label for="numero1">Instagram</label>
                    <input asp-for="SocialMidia.InstagramUrl" type=" text" class="form-control" id="numero1" readonly>
                </div>
            </div>
        </div>
    </fieldset>
    <br />

    <div class="row">
        <br />
        <a class="btn btn-secondary mb-5" asp-controller="Client" asp-action="Index" role="button">Voltar</a>
    </div>


</form>