@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Seja bem-vindo(a) ao ClientApp</h1>
    <p>Aqui você pode ter um controle total sobre os seus clientes!</p>
</div>
